[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
email-validator = "*"
redis = "*"
celery = "<5"
psycopg2 = "*"
python-dateutil = "*"
tzlocal = "*"
pytest = "*"
pipenv = "*"
Flask = "*"
Flask-Mail = "*"
Jinja2 = "*"
Markdown = "*"
PyYAML = "*"
Werkzeug = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"

[dev-packages]

[requires]
python_version = "3.7"
